     /* Marker tweaks */
     .mapboxgl-popup {
      padding-bottom: 10px;
    }

    .mapboxgl-popup-close-button {
      display: none;
    }

    .mapboxgl-popup-content {
      background-color: #111111;
      padding: 10px 20px;
      width: 180px;
      border-radius: 10px;
    }
    .mapboxgl-popup-tip{
      border-top-color: #111111 !important;
      border: 15px solid transparent;
    }

     /* For toggling a hover state */
    .hovered {
      background-color: #272727; 
    }
